.jumbotron{
  background-image: url('img/goodcoffee.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  margin-top: -70px;
  margin-bottom: 0px;
  padding: 20%;
}
}

.jumbotron h1 {
  color: #F7FAFE;
  position: absolute;
  top: 18;
  left: 0;
  padding-left: 20px;
}

@media only screen and (max-width: 768px) {
  .jumbotron h1, a.btn {
    display: none;
  }
}

body {
  background-color: #A2DED0;
  color: #F7FAFE;
}

.mission {
  font-family: 'Raleway', sans-serif;
  background-color: #323232;
  padding: 50px;
}
.features {
  font-family: 'Muli', 'sans-serif';
  color: #323232;
  padding-top: 30px;

}
.features img {
  width: 100%;
}
.navbar {
  background: rgba(0,0,0,0.5);
  border: none;
}
.footer {
background-color:   #d64541;
padding: 0 15px;
}
.footer p{
  padding-top: 15px;

}
.footer a {
  color: #f7fafe;

}
.footer a:hover {
  color: #323232;
}
.footer p, .fa {
  padding: 15px;
}
