* {
  font-family: "Raleway", sans-serif;
}

header {
  text-align: center;
  background: #121D33;
  color: white;
}
header .container {
  padding-top: 50px;
  padding-bottom: 25px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

footer {
  background: #FB6D4C;
  color: white;

}

h1, h2, h3 {
  text-transform: uppercase;

}
hr.code-light,
hr.code-dark {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.code-light:after,
hr.code-dark:after {
  content: "\f121";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.code-light {
  border-color: #F8F8F8;
}
hr.code-light:after {
  background-color: #121D33;
  color: #F8F8F8;
}
hr.code-dark {
  border-color: #121D33;
}
hr.code-dark:after {
  background-color: #F8F8F8;
  color: #121D33;
}
.about  {
  background: #121D33;
  color: white;

}

.about h2 {
  text-transform: uppercase;

}

.mynavbar{
  background: #FD6C55;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.mynavbar .navbar-brand {
  color: white;
}
.mynavbar .navbar-brand:hover,
.mynavbar .navbar-brand:focus,
.mynavbar .navbar-brand:active,
.mynavbar .navbar-brand.active {
  color: white;
}
.mynavbar .navbar-nav {
  letter-spacing: 1px;
}
.mynavbar .navbar-nav li a {
  color: white;
}
.mynavbar .navbar-nav li a:hover {
  color: #121D33;
}
.mynavbar .navbar-nav li a:focus,
.mynavbar .navbar-nav li a:active {
  color: white;
}
.mynavbar .navbar-nav li.active a {
  color: white;
  background: #121D33;
}
.mynavbar .navbar-nav li.active a:hover,
.mynavbar .navbar-nav li.active a:focus,
.mynavbar .navbar-nav li.active a:active {
  color: white;
  background: #121D33;
}
.mynavbar .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.mynavbar .navbar-toggle:hover,
.mynavbar .navbar-toggle:focus {
  background-color: #121D33;
  color: white;
  border-color: #121D33;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #121D33;
  background: white;
  border: solid 2px white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.portfolio {
  padding-bottom: 50px;
  background-color: #F8F8F8
}